
  .sideblockroot {
    // background-color: #f0f;
    height: 95vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 50pt;
  }

  .container{
    height: 100%;
  }
  

  .body{
    flex:1;
    overflow: auto;
    padding-bottom: 80px;
  }
  
.body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}