
  .searchscreen {
    padding: 16px;
    width: 100%;
    max-width: 636px;
    background-color: #fbfbfb;
  }
  
  .loader{
    height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }