@import '/styles/vars';

.customAutocompleteContainer{
  position: relative;

  .icon {
    position: absolute;
    left: 8px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 16px;
    & svg{
      width: 16px;
    }
  }

  .options{
    background: white;
    border: 1px solid $borderColor;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    z-index: 500;
    top: 40px;
    padding: 5px 0;
  }
}

.input{

  & input{
    padding-left: 32px !important;
  }
}