@import '/styles/vars';

.container {
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: $text;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
    display: block;
  }

  input:checked ~ .checkmark {
    background-color: $sideBlockDetailsColor;
  }

  .checkmark:after {
    top: 5px;
   left: 5px;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: white;
 }
}