@import '/styles/vars';

.listContainer{
  max-width: 1500px;
  
  .selectedRow{
    outline: 2px solid $greenLight !important;
  }
  
  .listRow{
    position: relative;
    background: white;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    min-height: 50px;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 8px;
    max-width: 900px;

    &:hover{
      opacity: 0.7;
    }

    &:active{
      opacity: 0.5;
    }

    .end{
      width: 15px;
      height: 100%;
      display: flex;
      min-height: 54px;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  .disabled{
    color: $highGray;
  }
}