@import '/styles/_vars';

.emptyStateContainer {
  display: flex;
  justify-content: space-between;
  max-width: 636px;
  padding: 25px;
  border: none;
  box-shadow: 0px 0px 2px #00000029;
  border-radius: $radius;
  align-items: center;
  background-color: #fff;

  .contentContainer{
    display: flex;
    flex: 1;
    font-size: $text;
    align-self: flex-start;
  }

  .imageContainer{
    display: flex;
    flex: 1;

    svg{
      width: 100%;
    }
  }

}