@import '/styles/vars';

.loginContainer{
    width: 350px;
    padding: 30px 50px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: $text;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 300px;

    .loginFormContainer{
        input{
            margin-bottom: 10px;
        }
    }

    .title{
        text-align: center;
        color: $lisibleGrey;
        margin-bottom: 15px;

        .register{
            cursor: pointer;
        }
    }

    .loginInput{
        margin-top: 15px;
    }

    .buttonContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top : 15px;

        .forgotPassword{
            color: $lisibleGrey;
            cursor: pointer;
        }
    }
}


@media (max-width: $sideBlockDisappear) {
    .loginContainer{

    }

    .buttonContainer{
        flex-direction: column;
        gap: 15px;

        div {
            width: 100%;
            text-align: center;
        }
    }
}